<div class="row">
    <div class="col-md-6 offset-3">
        <h3 class="text-info">The object you are looking for cannot be found !!!</h3>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>    
</div>