@model Actor
@{
    ViewData["Title"] = "Add new actor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Actor</h1>
        </p>
    </div>
    <div class="row" style="width:100%;">
        <div class="col-md-8 offset-2">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <img id="ProfilePictureURLPreview" class="border-info rounded-circle"  style="max-width:150px;"/>
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePictureURL" class="control-label"></label>
                    <input asp-for="ProfilePictureURL" class="form-control" />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="control-label"></label>
                    <input asp-for="Bio" class="form-control" />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
<script>

    $(document).ready(function () {

        var output = document.getElementById("ProfilePictureURLPreview");
        output.src = $("#ProfilePictureURL").val(); 
    });


    $("#ProfilePictureURL").on("change", function () {
        var output = document.getElementById("ProfilePictureURLPreview");
        output.src = $(this).val(); 
    });
</script>
 }